examples/Count and report files.json
[
    {
        "id": "8a92a9627b5e2eab",
        "type": "tab",
        "label": "example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "056dd9c2a86097ee",
        "type": "inject",
        "z": "8a92a9627b5e2eab",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "b65e96fd7d54936d"
            ]
        ]
    },
    {
        "id": "154faaf5c49472ff",
        "type": "function",
        "z": "8a92a9627b5e2eab",
        "name": "Create file buffer",
        "func": "// get amount of files in root directory from the previous list results\nconst amountOfFilesInRoot = msg.payload.length;\n\n// create file contents\nconst textFileContent = `There are ${amountOfFilesInRoot} files in the root directory`;\n\n// make a buffer from the text\nmsg.payload = Buffer.from(textFileContent, 'utf-8');\n\n// get the date and generate a unique file name\nconst date = new Date();\nconst dateString = date.toISOString();\n\nmsg.filename = `report-${dateString}-${date.getMilliseconds()}.txt`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 60,
        "wires": [
            [
                "83e4b6d6c1a80483"
            ]
        ]
    },
    {
        "id": "83e4b6d6c1a80483",
        "type": "Backblaze b2 upload",
        "z": "8a92a9627b5e2eab",
        "b2": "",
        "bucket": "example-bucket",
        "filename": "",
        "name": "upload report file",
        "x": 830,
        "y": 60,
        "wires": [
            [
                "5fc471b687604f6e"
            ]
        ]
    },
    {
        "id": "5fc471b687604f6e",
        "type": "debug",
        "z": "8a92a9627b5e2eab",
        "name": "Log results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "b65e96fd7d54936d",
        "type": "Backblaze b2 list",
        "z": "8a92a9627b5e2eab",
        "b2": "",
        "bucket": "example-bucket",
        "name": "get files list in root directory",
        "path": "",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "154faaf5c49472ff"
            ]
        ]
    }
]